<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	<context:annotation-config/>

	<!-- h2数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:./test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<!-- dao配置 -->
	<bean id="accountDao"
		class="com.libo.spring.trancation.annotationTrans.dao.AccountDaoImp">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- service配置 -->
	<bean id="accountService"
		class="com.libo.spring.trancation.annotationTrans.service.AccountService">
		<property name="accountDao" ref="accountDao" />
	</bean>

	<!-- 事务管理器 -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 使用注解方式驱动事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
</beans>